install:
- ps: |
    Add-Type -AssemblyName System.IO.Compression.FileSystem
    if (!(Test-Path -Path "C:\maven" )) {
      (new-object System.Net.WebClient).DownloadFile(
        'https://dlcdn.apache.org/maven/maven-3/3.8.6/binaries/apache-maven-3.8.6-bin.zip',
        'C:\maven-bin.zip'
      )
      [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
    }
- cmd: >- 
    SET PATH=C:\maven\apache-maven-3.8.6\bin;%JAVA_HOME%\bin;%PATH%
    
    SET JAVA_HOME=C:\Program Files\Java\jdk17

build_script:
- mvn compile spotbugs:check -T8

test_script:
- mvn test -T8 -P jacoco-coverage


cache:
- C:\maven\
- C:\Users\appveyor\.m2
