install:
- ps: choco install temurin17 -y
- ps: |
    Add-Type -AssemblyName System.IO.Compression.FileSystem
    if (!(Test-Path -Path "C:\maven" )) {
      (new-object System.Net.WebClient).DownloadFile(
        'https://dlcdn.apache.org/maven/maven-3/3.9.11/binaries/apache-maven-3.9.11-bin.zip',
        'C:\maven-bin.zip'
      )
      [System.IO.Compression.ZipFile]::ExtractToDirectory("C:\maven-bin.zip", "C:\maven")
    }
- cmd: >-
    SET JAVA_HOME=C:\Program Files\Eclipse Adoptium\jdk-17
    SET PATH=C:\maven\apache-maven-3.9.11\bin;%JAVA_HOME%\bin;%PATH%

build_script:
- mvn compile spotbugs:check -T8

test_script:
- mvn test -T8 -P jacoco-coverage


cache:
- C:\maven\
- C:\Users\appveyor\.m2
